# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SerialCommunicator.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\balam\RiderProjects\SerialCommunicator\.idea\.idea.SerialCommunicator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
